@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Вместо @tailwind */
@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;
  }
}

* {
  box-sizing: border-box;
}
